@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================// Color
body {
  font-size: vw(20);
}

.container {
  overflow: hidden;
}
.show_pc {
  display: none !important;
}
.row {
  padding-left: vw(45);
  padding-right: vw(45);
}
.row_inner {
  padding-left: vw(30);
  padding-right: vw(30);
}
a[href^="tel"] {
  text-decoration: none;
}

/*======= COMMON =========*/
